<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')  %> 

  <body>
    <%- include('partials/header') %>
    <title>Crear Producto</title>
  
    <main class="mainCreateProduct">
      
        
              <div>
                <h2 class="titleCreateProduct">Crear Productos</h2>
                <h5 class="subtitleCreatProduct">Home > Crear</h5>
              </div>

              <form class='formularioCreateProducts createProduct' action="/products/create" method="POST" enctype="multipart/form-data">

                  <div class="editarCP">
                    <label for="name">Nombre del Producto</label>
                    <input class="formatCreateProductInput nameProduct" type="text" name="name">
                    <div>
                      <small class = 'errNameProduct'>
                        <ul></ul>
                      </small>
                    </div>
                  </div>

                  <div class="editarCP">
                      <label for="description">Descripción del Producto</label>
                      <textarea class="formatCreateProductInput description" name="description" id="description" rows="5" cols="50"></textarea>
                      <div >
                        <small class = 'errDescription'>
                           <ul></ul>
                        </small>
                      </div>
                  </div>

                  <div class="editarCP">
                    <label for="characteristics">Caracteristicas</label>
                    <textarea class="formatCreateProductInput characteristics" name="characteristics" id="characteristics" rows="5" cols="50"></textarea>
                    <div>
                      <small class = 'errCharacteristics'>
                         <ul></ul>
                      </small>
                    </div>
                  </div>

                  <div class="editarCP">
                    <label for="sizing">Dimensionamiento</label>
                    <textarea class="formatCreateProductInput sizing" name="sizing" id="sizing" rows="5" cols="50"></textarea>
                    <div >
                      <small class = 'errSizing'>
                         <ul></ul>
                      </small>
                    </div>
                  </div>

                  <div class="imageCP">
                    <div class="divImage">
                      <label for="image">Imagen Principal</label>
                      <input class="formatFileCP VALIDimage" type="file" name="image" accept=".jpg, .png" >
                      <div class="errorImagenInvalida">
                        <small class = 'errImage'>
                           <ul></ul>
                        </small>
                      </div>
                    </div>

                    <div class="divImage">
                      <label for="image2">Imagen Secundaria</label>
                      <input class="formatFileCP VALIDimage2" type="file" name="image2" accept=".jpg, .png" >
                      <div class="errorImagenInvalida">
                        <small class = 'errImage2'>
                           <ul></ul>
                        </small>
                      </div>
                    </div>
                    <div class="divImage">
                      <label for="image3">Imagenes miniatura</label>
                      <input class="formatFileCP VALIDimage3" type="file" name="image3" accept=".jpg, .png" >
                      <div class="errorImagenInvalida">
                        <small class = 'errImage3'>
                           <ul></ul>
                        </small>
                      </div>
                    </div>
                    <div class="divImage">
                      <label for="image4">Imagenes miniatura</label>
                      <input class="formatFileCP VALIDimage4" type="file" name="image4" accept=".jpg, .png" >
                      <div class="errorImagenInvalida">
                        <small class = 'errImage4'>
                           <ul></ul>
                        </small>
                      </div>
                    </div>
                    <div class="divImage">
                      <label for="image5">Imagenes miniatura</label>
                      <input class="formatFileCP VALIDimage5" type="file" name="image5" accept=".jpg, .png">
                      <div class="errorImagenInvalida">
                        <small class = 'errImage5'>
                           <ul></ul>
                        </small>
                      </div>
                    </div>
                  </div>
                  

                <div class ='selectContainer'>
                  <div class="editarCP">
                    <label for="categoryProduct">Categoría:</label>
                        <select name="categoryProduct">
                          <% categories.forEach (categories => { %> 
                            <option value="<%= categories.id %>"><%= categories.category %></option>
                          <% }) %> 
                        </select>
                  </div>

                  <div class="editarCP">
                    <label for="color">Colores:</label>
                        <select name="color">
                          <% colors.forEach (color => { %> 
                            <option value="<%= color.id %>"><%= color.color %></option>
                          <% }) %> 
                        </select> 
                  </div>
                  
                  <div class="editarCP">
                    <label for="size">Talles:</label>
                        <select name="size">
                          <% sizes.forEach (sizes => { %> 
                            <option value="<%= sizes.id %>"><%= sizes.size %></option>
                          <% }) %>   
                        </select>
                  </div>
                </div>
                  <div class="editarCP">
                    <label for="price">Precio</label>
                    <input class="formatCreateProductInputPrice" name="price" type="number" minlength="6" >
                  </div>
                  <div class="editarCP">
                    <label for="cantidad">Cantidad</label>
                    <input class="formatCreateProductInputPrice" name="cantidad" type="number" minlength="6" >
                  </div>
                  <div class="editarCP">
                    <button type="submit" class="buttonCP">Crear</button>
                  </div>
                  <% if (typeof errorsProduct != "undefined") { %>
                    <p style="color:red">Error</p>
                    <ul>
                      <% for (let i=0; i<errorsProduct.length; i++) { %>
                        <li>
                          <small><%= errorsProduct[i].msg %></small>
                        </li>
                      <% } %>
                    </ul> 
                  <% } %>
            </form>

       

    </main>
  
  <%- include('partials/footer')  %> 
<script src="/script/validationNewProduct.js"></script>
</body>
</html>