<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')  %> 

  <body>
    <%- include('partials/header') %>
    <title>Editar Producto</title>
  
      <main class="mainCreateProduct">
      
        <div class="contaicontainCreate">
              <div>
                <h2 class="titleCreateProduct">Editar Producto</h2>
                <h5 class="subtitleCreatProduct">Home > Editar</h5>
              </div>

            <form class='formularioCreateProducts' method="POST" action="/products/<%= products.id %>/edit?_method=PUT" enctype="multipart/form-data">

                  <div class="editarCP">
                      <label for="name">Nombre del Producto</label>
                      <input class="formatCreateProductInput" type="text" value="<%=products.name  %> " name="name">
                  </div>

                  <div class="editarCP">
                      <label for="description">Descripción del Producto</label>
                      <input class="formatCreateProductInput" type="text" value="<%=products.description  %>" id="description" name="description">
                  </div>

                  <div class="editarCP">
                    <label for="characteristics">Caracteristicas</label>
                    <input class="formatCreateProductInput" type='text' value="<%=products.characteristics  %>" id="ca" name="characteristics">
                  </div>

                  <div class="editarCP">
                    <label for="sizing">Dimensionamiento</label>
                    <input class="formatCreateProductInput" type='textarea' value="<%=products.sizing  %>" id="ca" name="sizing">
                  </div>

                  <div class="editarCP">
                    <label for="image">Imagenes</label>
                    </div>
                        
                        <p><%= "Imagen: Principal"%> </p>
                        <img class="image" src="/images/products/<%= products.image%> ">
                        <div class="divImage">
                          <label for="image">Nueva imagen Principal</label>
                          <input class="formatFileCP" type="file" name="image" accept=".jpg, .png" >
                        </div>

                        <p><%= "Imagen: Secundaria"%> </p>
                        <img class="image" src="/images/products/<%= products.image2%> ">
                        <div class="divImage">
                          <label for="image2">Nueva imagen Secundaria</label>
                          <input class="formatFileCP" type="file" name="image2" accept=".jpg, .png" >
                        </div>
                        
                        <p><%= "Imagen: miniatura"%> </p>
                        <img class="image" src="/images/products/<%= products.image3%> ">
                        <div class="divImage">
                          <label for="image3">Nueva imagenes miniatura</label>
                          <input class="formatFileCP" type="file" name="image3" accept=".jpg, .png" >
                        </div>
                        
                        <p><%= "Imagen: miniatura"%> </p>
                        <img class="image" src="/images/products/<%= products.image4%> ">
                        <div class="divImage">
                          <label for="image4">Nueva imagenes miniatura</label>
                          <input class="formatFileCP" type="file" name="image4" accept=".jpg, .png" >
                        </div>

                        <p><%= "Imagen: miniatura"%> </p>
                        <img class="image" src="/images/products/<%= products.image5%> ">
                        <div class="divImage">
                          <label for="image5">Nueva imagenes miniatura</label>
                          <input class="formatFileCP" type="file" name="image5" accept=".jpg, .png" >
                        </div>
                    </div>

                    
                  </div>

                  <div>
                    <input name="id" value="<%= products.id%>">
                  </div>

                  <div class="editarCP">
                    <label for="categoryProduct">Categoría:</label>
                      <select name="categoryProduct">
                        <option selected="selected" value="<%= products.categoryProductId%>"><%=products.categories.category%></option>
                        <% categories.forEach (categories => { %> 
                        <option value="<%= categories.id %>"><%= categories.category %></option>
                        <% }) %> 
                      </select>
                  </div>

                  <div class="editarCP">
                    <label for="color">Colores:</label>
                      <select name="color">
                        <option selected="selected" value="<%= products.colorsId%>"><%=products.colors.color%></option>
                        <% colors.forEach (color => { %> 
                        <option value="<%= color.id %>"><%= color.color %></option>
                        <% }) %> 
                      </select> 
                  </div>
                  
                  <div class="editarCP">
                    <label for="size">Talles:</label>
                        <select name="size">
                            <option selected="selected" value="<%= products.sizeId%>"><%=products.sizes.size %></option>
                            <% sizes.forEach (sizes => { %> 
                            <option value="<%= sizes.id %>"><%= sizes.size %></option>
                            <% }) %>   
                        </select>
                    </div>

                  <div class="editarCP">
                    <label for="price">Precio</label>
                    <input class="formatCreateProductInput" name="price" value="<%=products.price  %>" type="number" minlength="6" >
                  </div>
                  <div class="editarCP">
                    <label for="cantidad">Cantidad</label>
                    <input class="formatCreateProductInput" name="cantidad" value="<%=products.stock  %>" type="number" minlength="6" >
                  </div>
                  <div class="editarCP">
                    <button type="submit" class="form-button">Editar</button>
                  </div>
                  <% if (typeof errorsProduct != "undefined") { %>
                    <p style="color:red">Error</p>
                    <ul>
                      <% for (let i=0; i<errorsProduct.length; i++) { %>
                        <li>
                          <%= errorsProduct[i].msg %>
                        </li>
                      <% } %>
                    </ul> 
                  <% } %>
            </form>

        </div>

      </main>
  
  <%- include('partials/footer')  %> 

</body>
</html>