<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')  %> 

  <body>
    <%- include('partials/header') %>
    <title>Carrito de Compra</title>
      
    <main class="mainProductCart">
        <div class="pageName">
            <h2 class="titleCart">CARRITO DE COMPRA</h2>
            <h4 class="subtitleCart">(Home > Compras)</h4>
        </div>
        <div class="buttonToHome">  
            <button class="form-button"><a href="/">Seguir comprando</a></button>
        </div>
        <div class="buy">
            <div class="productosToBuy"><!-- Productos seleccionados -->
                <div class="productCart"><!-- Producto 1 -->
                    <% let product = (products.find(product => product.id === 3))%>
                        <img class="imageProductCart" src="/images/products/<%= product.image %>" alt="Imagen del Producto <%= product.name %>"><!-- imagen del producto -->
                        <div class="descriptionProductCart"><!-- caracteristicas del producto seleccionado -->
                            <h2 class="nameProductCart"><%= product.name %></h2>
                            <h4>Talle: L <%= product.sizes %> </h4>
                            <h4>Color: Blanco <%= product.colors %></h4>
                            <div class="priceStetic"><!-- precio -1+ = precio final -->
                                <h2 class="priceCart">$ <%= product.price %>  x</h2>
                                <div class="quantity">
                                    <button data-decrease-quantity="">−</button>
                                    <input data-quantity-input="" aria-label="Quantity" type="number" min="1" size="4" pattern="[0-9]*" name="quantity" value="1">
                                    <button  data-increase-quantity="">+</button>
                                </div>
                                <h2 class="priceCart">= $6500,00</h2>
                            </div>
                        </div>
                           
                    <i class="iconTrash fa-solid fa-trash-can"></i><!-- icono de basurero o cruz -->
                </div>
                
                <div class="productCart"><!-- Producto 2 -->
                    <% let product2 = (products.find(product => product.id === 7))%>
                        <img class="imageProductCart" src="/images/products/<%= product2.image %>" alt="Imagen del Producto <%= product.name %>"><!-- imagen del producto -->
                        <div class="descriptionProductCart"><!-- caracteristicas del producto seleccionado -->
                            <h2 class="nameProductCart"><%= product2.name %></h2>
                            <h4>Talle: L <%= product2.sizes %> </h4>
                            <h4>Color: Blanco <%= product2.colors %></h4>
                            <div class="priceStetic"><!-- precio -1+ = precio final -->
                                <h2 class="priceCart">$ <%= product2.price %>  x</h2>
                                <div class="quantity">
                                    <button data-decrease-quantity="">−</button>
                                    <input data-quantity-input="" aria-label="Quantity" type="number" min="1" size="4" pattern="[0-9]*" name="quantity" value="1">
                                    <button  data-increase-quantity="">+</button>
                                </div>
                                <h2 class="priceCart">= $3000,00</h2>
                            </div>
                        </div>
                           
                    <i class="iconTrash fa-solid fa-trash-can"></i><!-- icono de basurero o cruz -->
                </div>
                
                
                <div class="productCart"><!-- Producto 3 -->
                    <% let product3 = (products.find(product => product.id === 10))%>
                        <img class="imageProductCart" src="/images/products/<%= product3.image %>" alt="Imagen del Producto <%= product.name %>"><!-- imagen del producto -->
                        <div class="descriptionProductCart"><!-- caracteristicas del producto seleccionado -->
                            <h2 class="nameProductCart"><%= product3.name %></h2>
                            <h4>Talle: L <%= product3.sizes %> </h4>
                            <h4>Color: Blanco <%= product3.colors %></h4>
                            <div class="priceStetic"><!-- precio -1+ = precio final -->
                                <h2 class="priceCart">$ <%= product3.price %>  x</h2>
                                <div class="quantity">
                                    <button data-decrease-quantity="">−</button>
                                    <input data-quantity-input="" aria-label="Quantity" type="number" min="1" size="4" pattern="[0-9]*" name="quantity" value="1">
                                    <button  data-increase-quantity="">+</button>
                                </div>
                                <h2 class="priceCart">= $3500,00</h2>
                            </div>
                        </div>
                           
                    <i class="iconTrash fa-solid fa-trash-can"></i><!-- icono de basurero o cruz -->
                </div>
                
            </div>

            <div class="optionsToBuy"><!-- Opciones de compra -->
                <div class="buttonToHome2">  
                    <button class="form-button"><a href="/">Seguir comprando</a></button>
                </div>
                <div>
                    <h2>Código del cupón</h2>
                    <div class="insertCode">
                        <input type="number" name="postalCode" placholder="5555">
                        <button class="form-button" type="submit" value="addCupon">Aplicar CUPON</button>
                    </div>
                </div>
                <div class="optionsDelivery">
                    <h2>Estimar envio:</h2>
                    <div></div>
                    <div class="serchOptionsDelivery">
                        <h3>Pais:</h3>
                        <select name="selectCountry">
                            <option value="Country1">Country1</option>
                            <option value="Country2">Country2</option>
                            <option value="Country3">Country3</option>
                        </select>
                    </div>
                    <div class="serchOptionsDelivery">
                        <h3>Provincia:</h3>
                        <select name="selectState">
                            <option value="State1">State1</option>
                            <option value="State2">State2</option>
                            <option value="State3">State3</option>
                        </select>
                    </div>
                    <div class="serchOptionsDelivery">
                        <h3>Código postal:</h3>
                        <input class="inputCP" type="number" name="postalCode" placholder="3000">
                    </div>
                </div>
                <div class="estimateDelivery">
                    <button class="form-button" type="submit" value="estimateDelivery">Obtener cotización</button>
                </div>
                <div class="finalShop">
                    <h2>TOTAL DE COMPRA</h2>
                    <div class="priceFinalShop">
                        <div>
                            <h3>Subtotal:</h3><h3>$25500.00</h3>
                        </div>
                        <div>
                            <h3>Envio:</h3><h3>$1000.00</h3>
                        </div>
                        <div>
                            <h3>TOTAL:</h3><h3>$26500.00</h3>
                        </div>

                    </div>
                    <div class="endShopBox">
                        <div class="endShopButtons">
                            <button class="form-button" type="submit" value="updateCart">Actualizar Carrito</button>
                        </div>
                        <div class="endShopButtons">
                            <button class="form-button" type="submit" value="endShop">Finalizar Compra</button>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="bannerCart">
            <video class="video-bannerCart" src="/videos/banner-recomendaciones.mp4" autoplay loop muted>
            </video>
        </div>
        <div class="recomendations"><!-- Recomendaciones de compra NO APLICA EN MOVILE FIRST-->
            <div class="cajaPadreCarrouselRecomendations">
                <i class="iconoRecomendations fa-solid fa-circle-chevron-left"></i>
                <div class="carrouselRecomendations">
                    <% for( let i = 0; i < 5; i++ ) { %>
                        <img src="/images/products/<%= products[i].image %>" alt="<%= products[i].name %> ">
                    
                    <% } %>
                </div>
                <i class="iconoRecomendations fa-solid fa-circle-chevron-right"></i>
            </div>
        </div>
    </main>
    
    <%- include('partials/footer')  %> 
</body>
</html>